version: "3.9"

services:
  node-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: abdo02/fullstack-app:latest
    ports:
      - "3000:3000"
    restart: always
    environment:
      NODE_ENV: production
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:

